
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 13px;
    font-weight: 400;
    font-family: monospace;
    margin: 0;
    color: #1d1d1d;
    background: linear-gradient(to right, #010e1f, #010e1f);
    background-size: cover;
    background-size: cover;
}

h1 {
    font-family: monospace;
    width: 50%;
    margin: 0px 400px;
    text-align: center;
    border-top:5px solid #d3d9a9;
    background: linear-gradient(to left, #f18324, #f18324);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding: 20px; 
    color: #0d2226;
}
  
aside {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  margin: 50px;
  padding: 20px;
  gap: 150px;
  box-sizing: border-box; 
}

aside img {
  width: 100px;
  height: 100px;
}

aside img:hover {
  transform: scale(1.1);
}

aside div:hover {
  transform: scale(1.1);
}